
.bg-grey{
  background-color: #F3F3F2 !important;
}
.text-al-black{
  color: #262626 !important;
}
.width-fit{
  width: fit-content;
}
body{
  background-color: #FAFAFA !important;
}
.text-gray{
  color: #262626 !important; 
}
.bg-yellow{
  background-color: #FAEE51;
}
.text-yellow{
  color: #FAEE51;
}
.bg-26{
  background-color: #262626 !important;
}
.btn.bg-grey:hover{
  background-color: #FAEE51 !important;
  color: #262626 !important; 
}
.btn.bg-26:hover{
  background-color: #FAEE51 !important;
  color: #262626 !important; 
}
.footer{
  background-color: #262626;
}
