
.bg-grey{
  background-color: #F3F3F2 !important;
}
.text-al-black{
  color: #262626 !important;
}
.width-fit{
  width: fit-content;
}
body{
  background-color: #FAFAFA !important;
}
.text-gray{
  color: #262626 !important; 
}
.bg-yellow{
  background-color: #FAEE51;
}
.text-yellow{
  color: #FAEE51;
}